

body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.header{
    background-color: #fff159;
    padding: 10px 0;
}

.header__logo{
    height: 34px;
    width: 134px;
}


.mdl-grid{
    max-width: 1024px;
    margin-top: 30px;
}

#fonts{
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }


  #just{
      text-align: justify;
  }

  #image{
      width: 100%;
  }


#search{
    background-color: whitesmoke;
    color: black !important;
    padding-left: 32px;

    border-radius: 5px;
}
#blue{
    color: blue !important;
    padding: 0 !important;
    margin: 0 !important;
}

.trtable{
    height: 50px;
    width: 100%;
    background-color: #F0F8FF;
}

.texttable{
    color: black;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 20px;
}

.white{
    background-color: white !important; 
}